.chores {
    color: #ff4f33;
}

.doneChores {
    color: #3c79b8;
}

h3 {
    text-align: center;
}

img {
    max-width: 45%;
    height: auto;
    display: block;
    margin: auto;
}

p {
    color: rgb(233, 18, 143);
    font-size:xx-large;
    text-overflow: ellipsis;
    text-shadow: #3c79b8;
    text-align: center;
}